<div class="gallery mdl-grid">
  <div class="gallery mdl-cell mdl-cell--1-col" ng-repeat="card in cards">
    <div class="demo-card-image mdl-card mdl-shadow--16dp {{card.style}}" style="background-image: url('../images/gallery/{{ card.number }}.png')">
      <div class="mdl-card__title mdl-card--expand"></div>
      <div class="mdl-card__actions">
        <span class="demo-card-image__filename qty">{{card.qty}}</span>
        <span class="demo-card-image__filename name">{{card.name}}</span>
      </div>
    </div>
  </div
</div>
